/* GENERAL */

body, textarea {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
   color: #333;
}

p {
   color: #70747A;
}

/* NAVBAR */

.navbar-container {
    width: 100%;
    height: 5rem;
    background-color: #232A31;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box;
}

.logo {
    width: 3rem;
    margin-top: 1rem;
}

nav {
    position: relative;
}

.navbar-items {
    list-style: none;
    position: absolute;
    display: inline-block;
    height: 5rem;
    line-height: 5rem;
    margin: 0;
    right: 0;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 1.563rem;
}

.navbar-items li a {
    text-decoration: none;
    color: white;
    transition: .5s;
}

.navbar-items li a:hover {
    color: #CCC;
}

.default-btn {
    padding: 1rem 1.25rem;
    background-color: #2CC76A;
    border-radius: .313rem;
    color: white;
}

.default-btn:hover {
    background-color: #22bb5f;
}

/* MAIN BANNER */

.main-banner {
    background-image: url(../img/mainbanner.png);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    position: relative;
}

.main-banner h1, .main-banner p {
    color: white;
    text-align: center;
    font-weight: bold;
}

.main-banner h1 {
    font-size: 3.375rem;
}

.main-banner p {
    font-size: 2rem;
}

/* SPECIALTIES */

.specialties-container {
    padding: 5em 0;
}

.specialties-container ul {
    display: flex;
    width: 90%;
    position: relative;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    padding-left: 0;
}

.specialties-container ul li {
    flex: 1 1 12.5rem;
    list-style: none;
    text-align: center;
    padding: 1.25rem;
}

.fas {
    font-size: 3.75rem;
    margin-bottom: 1rem;
}

.fa-shield-alt {
    color:#2CC76A;
}

.fa-rocket {
    color: #EF3F29;
}

.fa-comments {
    color: #EF8F29;
}

.specialties-container ul li h3 {
    margin-bottom: 1.563rem;
}

.specialties-container ul li p {
    line-height: 1.5rem;
}

/* PRICES */

.pricing-container {
    padding-bottom: 5em;
    text-align: center;
}

.pricing-container h1 {
    font-size: 2.25rem;
    margin-top: 0;
}

.pricing-container p {
    font-size: 1.25rem;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
    width: 90%;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
}

.plan {
    flex: 1 1 12.5rem;
    max-width: 275px;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.plan ul {
    padding: 0;
}

.plan li {
    list-style: none;
    height: 3.125rem;
    line-height: 3.125rem;
    background-color: #E8E9EA;
    color: #333;
}

.plan .price {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    background-color: #2CC76A;
    color: white;
    text-align: center;
    line-height: 7.5rem;
    font-size: 1.125rem;
    position: relative;
    margin: auto;
    margin-bottom: -3.125rem;
}

.plan .plan-name {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    background-color: #202B34;
    padding-top: 3.125rem;
    padding-bottom: 1.25rem;
}

.plan .plan-btn {
    background-color: #2CC76A;
    color: #fff;
    font-size: 1.5rem;
    height: 4.688rem;
    line-height: 4.688rem;
    cursor: pointer;
}

.plan .recommended {
    background-color: #F45C57;
}

/* SEARCHING DOMAIN */

.searchdomain-container {
    background-color: #34454E;
    text-align: center;
    padding: 5em 0;
}

.searchdomain-container h2 {
    color: #FFF;
    font-size: 2.625rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.searchdomain-container p {
    color: #D5D5D5;
    font-size: 1.5rem;
    margin-bottom: 1.563rem;

}

.searchdomain-container input {
    display: block;
    position: relative;
    margin: auto;
    border: none;
    border-radius: 5px;
}

.searchdomain-container input[type=text] {
    margin-bottom: 1.563rem;
    width: 60%;
    padding: 1.25rem;
    font-size: 1.25rem;
}

.searchdomain-container input[type=submit] {
    background-color: #2CC76A;
    padding: 1rem 1.875rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* CONTACT */
.contact-container {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 2em;
}

.contact-container h2 {
    font-size: 2.25rem;
}

.contact-container p {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.contact-container input, .contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #CCC;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.contact-container textarea {
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    width: 468px;
    height: 150px;
}

.contact-container input[type=submit] {
    display: block;
    position: relative;
    margin: auto;
    background-color: #2CC76A;
    color: white;
}

footer {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1100px) {
    .plans-container {
        width: 95%;
    }

    .plan {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 900px) {
    .plans-container, .specialties-container ul {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px) {
    html, body {
        overflow-x: hidden;
    }

    .navbar-items li {
        font-size: 12px;
        margin-left: 10px;
    }

    .plan {
        width: 100%;
        max-width: 100%;
    }

    .searchdomain-container, .contact-container {
        padding: 3em 2em;
    }

    .searchdomain-container input {
        width: 100%;
        box-sizing: border-box;
    }

    .contact-container input, .contact-container textarea {
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        box-sizing: border-box;
    }
}